@model ShabbatBrunch.Models.CarteItem

@{
    ViewData["Title"] = @Model.Nom;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="min-h-screen h-auto flex flex-col justify-center gap-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Suppression de @ViewData["Title"]</h1>

    <h3 class="text-lg font-semibold mb-4 text-center">Are you sure you want to delete @ViewData["Title"]?</h3>

    <div class="mx-auto w-auto">
        <div class="bg-white p-6 md:p-8 lg:p-10 rounded-lg shadow-md">

            <div>


                <dl class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                    <div class="mb-4">
                        <dt class="text-sm font-medium text-gray-600">Nom:</dt>
                        <dd class="mt-1 text-sm text-gray-900">@Html.DisplayFor(model => model.Nom)</dd>
                    </div>

                    <div class="mb-4">
                        <dt class="text-sm font-medium text-gray-600">Description:</dt>
                        <dd class="mt-1 text-sm text-gray-900">@Html.DisplayFor(model => model.Description)</dd>
                    </div>

                    <div class="mb-4">
                        <dt class="text-sm font-medium text-gray-600">Image:</dt>
                        <dd class="mt-1 text-sm text-gray-900">@Html.DisplayFor(model => model.Image)</dd>
                        <img class="w-20 h-1/2" src="~/img/carte/@Model.Image" alt=@Model.Nom>
                    </div>

                    <div class="mb-4">
                        <dt class="text-sm font-medium text-gray-600">Prix:</dt>
                        <dd class="mt-1 text-sm text-gray-900">@Html.DisplayFor(model => model.Prix)</dd>
                    </div>

                    <div class="mb-4">
                        <dt class="text-sm font-medium text-gray-600">Categorie:</dt>
                        <dd class="mt-1 text-sm text-gray-900">@Html.DisplayFor(model => model.Categorie)</dd>
                    </div>

                    <div class="mb-4">
                        <dt class="text-sm font-medium text-gray-600">Date de création:</dt>
                        <dd class="mt-1 text-sm text-gray-900">@Html.DisplayFor(model => model.CreatedDate)</dd>
                    </div>

                    <div class="mb-4">
                        <dt class="text-sm font-medium text-gray-600">Date de modification:</dt>
                        <dd class="mt-1 text-sm text-gray-900">@Html.DisplayFor(model => model.ModifiedDate)</dd>
                    </div>
                </dl>

                <form asp-action="Delete" class="mt-4">
                    <input type="hidden" asp-for="Id"/>
                    <button type="submit" class="bg-marron-500 text-white p-2 rounded-md hover:bg-marron-700">Supprimer</button>
                    <span class="ml-2">|</span>
                    <a asp-action="Index" class="text-marron-500 hover:underline ml-2">Retour aux articles</a>
                </form>
            </div>
        </div>
    </div>
</div>